<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>
  </head>
  <body>
    <header>
      <div>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" />
      </div>
      <p>Lugar para poner la barra de búsqueda</p>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
        <p>Barra de navegación que posea las siguientes opciones:</p>
        <ul>
          <li>Ofertas</li>
          <li>Tiendas Oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
        </ul>
        <ul>
          <li>Creá tu cuenta</li>
          <li>Ingresá</li>
          <li>Mis compras</li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <p>Sección: Basado en tu última visita</p>
        <div>
          <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" />
          <p>$6.770</p>
          <p>40% OFF</p>
          <p>Cafetera Moulinex</p>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
